<%- include('../partials/header') -%>
<h1>Login...</h1>
<div class="container newForm">
    <form action = "/login" method = "POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name = "username" >
          
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name = "password" >
            
          </div>
         
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <hr>
      <a href ="/register" class = "btn btn-info">Don't Have an Account?...Create One</a>
</div>
<%- include('../partials/footer') -%>